#app {
    height: 100%;
}

#app section {
    margin-bottom: 0;
}

.main-menu {
    background-color: #0dc3a3;
    color: #ffffff;
    display: block;
    height: 100vh;
    position: sticky;
    top: 0;
}

.main-menu a,
.menu-label {
    color: #ffffff;
}

.menu-list a.is-active {
    background-color: #71797d;
}

.content {
    height: 100%;
}

.is-content {
    padding-top: 0;
    padding-bottom: 0;
}

.is-content>table {
    width: 100%;
}

.is-edit {
    color: #2e7d32;
}

.is-edit:hover {
    color: #1b5e20;
}

.is-delete {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #c62828;
    cursor: pointer;
}

.is-delete:hover {
    color: #b71c1c;
}

.table {
    width: 100%;
}